<ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
    <div class="collapsible-body">
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
    <div class="collapsible-body">
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
    <div class="collapsible-body">
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
  </li>
</ul>



<form materialize class="col s12">
  <div class="row">
    <div class="input-field col s6">
      <input placeholder="Your first name" id="first_name" type="text" class="validate">
      <label for="first_name">First Name</label>
    </div>
  </div>
</form>



<!-- Modal Trigger -->
<a class="waves-effect waves-light btn modal-trigger" (click)="openModal()">Modal</a>

<!-- Modal Structure -->
<div id="modal1" class="modal bottom-sheet" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
  <div class="modal-content">
    <h4>Modal Header</h4>
    <p>A bunch of text</p>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-green btn-flat" (click)="closeModal()">Close</a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>


<a materialize="tooltip" class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="I am tooltip">Hover me!</a>


<select materialize="material_select" [materializeSelectOptions]="selectOptions">
  <option *ngFor="let option of selectOptions" [value]="option.value">{{option.name}}</option>
</select>


<!-- Drag and Drop for image -->
<!-- <div class="container">
  <h1>Total Images: {{ imageStats().count }}</h1>
  <h1>Total Size: {{ imageStats().size | byteFormat}}</h1>
  <div (dragover)="false" (dragend)="false" (drop)="handleDrop($event)" style="height: 300px; border: 5px dotted #ccc;">
    <p style="margin: 10px; text-align: center">
      <strong>Drop Your Images Here</strong>
    </p>
  </div>
  <div class="media" *ngFor="let image of images">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="{{image.path}}" style="max-width:200px">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">{{image.name}}</h4>
      <p>{{image.size | byteFormat}}</p>
    </div>
  </div>
</div> -->


<div class="fixed-action-btn horizontal click-to-toggle">
  <a class="btn-floating btn-large red">
    <i class="material-icons">menu</i>
  </a>
  <ul>
    <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
    <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
    <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
    <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
  </ul>
</div>